html {
  background: #020706;
}

header {
  padding: 0px;
  text-align: center;
}

.banner {
  text-align: center;
  width: 100%;
  min-height: 300px;
  height: 550px;
  background-position: center;
  overflow: hidden;
  background: url('images/dd1.jpg');
}

.accordion {
  width: 80%;
  align-items: center;
  background: #020706;
  border: 2px solid black;
  margin: auto;
  padding: 5%;
  margin-top: 5%;
  margin-bottom: 5%;
  font-size: 14pt;
  transition: 0.4s;
}

.title {
  color: #75eac9;
  padding: 2px;
  background-position: center;
  text-align: center;
  font-size: 1.2em;
}

.title::before {
  font-family: Arial;
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
}

#even.title {
  padding: 2px;
  background-position: center;
  color: #4747ad;
  text-align: center;
  font-size: 1.2em;
}


h1 {
  font-size: 90px;
  color: #75eac9;
}

h2 {
  font-size: 35px;
  color: #020706;
  font-weight: bold;
}


.accordion-item {
    box-sizing: border-box;
    padding: 0 18px;
    background-color: black;
    overflow: hidden;
}

.active, .accordion-item:hover {
    background-color: grey;
}

.accordion-item .description {
  background: white;
  text-align: center;
  margin: auto;
  padding: 0;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 20px;
  margin-bottom: 20px;

}

.accordion-item .title::before {
  content: "+ ";
}

.accordion-item.active .title::before {
  content: "^ ";
}

.accordion-item .description {
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.5s ease-out;
}

.accordion-item.active .description {
  max-height: 500px;
  transition: max-height 0.5s ease-out;
}

@media (min-width: 600px) and (max-width: 1100px) {

  .banner {
    text-align: center;
    width: 100%;
    min-height: 70px;
    height: 400px;
    background-position: center;
    overflow: hidden;
    box-shadow: 2px 2px 0px -1px #000000;
    background: url('images/dd3.jpg');
  }
}

@media (max-width: 600px) {

  .banner {
    background-image: none;
    height: 140px;
    background: url('images/dd4.jpg');
  }
}
