html {
  background: #020706;
  color: #FFFFFF;
}

header {
  padding: 0px;
  text-align: center;
}

.banner {
  text-align: center;
  width: 100%;
  min-height: 300px;
  height: 500px;
  background-position: center;
  overflow: hidden;
  background: url('images/dd1.jpg');
  opacity: 0.7;
}

.accordion {
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  background: #020706;
  border: 2px solid black;
  margin: auto;
  padding: 5%;
  margin-top: 5%;
  margin-bottom: 5%;
  box-shadow: 10px 10px 5px grey;
  font-size: 30px;
  transition: 0.4s;
}

.title {
  color: #75eac9;
  padding: 2px;
}

.title::before {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

h1 {
  font-size: 90px;
  color: #75eac9;
}

h2 {
  font-size: 35px;
  color: #020706;
}

.accordion-item {

}

.accordion-item.active {

}

.accordion-item .title::before {
  content: "+ ";
}

.accordion-item.active .title::before {
  content: "- ";
}

.accordion-item .description {
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.5s ease-out;
}

.accordion-item.active .description {
  max-height: 500px;
  transition: max-height 0.5s ease-out;
}
